menu "SD SPI Example Configuration"

	config EXAMPLE_PIN_MOSI
		int "MOSI GPIO number"
		default 23 if IDF_TARGET_ESP32
		default 35 if IDF_TARGET_ESP32S2
		default 35 if IDF_TARGET_ESP32S3
		default 5  if IDF_TARGET_ESP32H2
		default 4  # C3 and others

	config EXAMPLE_PIN_MISO
		int "MISO GPIO number"
		default 19 if IDF_TARGET_ESP32
		default 37 if IDF_TARGET_ESP32S2
		default 37 if IDF_TARGET_ESP32S3
		default 0  if IDF_TARGET_ESP32H2
		default 6  # C3 and others

	config EXAMPLE_PIN_CLK
		int "CLK GPIO number"
		default 18 if IDF_TARGET_ESP32
		default 36 if IDF_TARGET_ESP32S2
		default 36 if IDF_TARGET_ESP32S3
		default 4  if IDF_TARGET_ESP32H2
		default 5  # C3 and others

	config EXAMPLE_PIN_CS
		int "CS GPIO number"
		default  5 if IDF_TARGET_ESP32
		default 34 if IDF_TARGET_ESP32S2
		default 34 if IDF_TARGET_ESP32S3
		default 1  # C3 and others

endmenu

